In [7]:
# Data stuffs
import pandas as pd
import numpy as np

# sklearn classification models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

# sklearn tools
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix


# visual stufss
import matplotlib.pyplot as plt


# decision tree visualization
# from pydotplus import graph_from_dot_data
# from sklearn.tree import export_graphviz

%matplotlib inline

In [8]:
# import the data
df = pd.read_csv('titanic.csv')
df = df.rename(columns = {key:key.lower() for key in df.columns})

In [9]:
# convert the sex column to a binary variable
df.sex = df.sex.map({'male':0, 'female':1}).astype(int)

Make at least one of the following data transformations

In [10]:
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [11]:
df.columns

Index(['passengerid', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked'],
      dtype='object')

In [12]:
fratures = ['pclass', 'sex', 'embarked']

In [13]:
model = DecisionTreeClassifier()

In [5]:
# create a variable using sibsp and parch indicating whether or not the passenger is alone

In [6]:
# extract the passenger's title from the name column, combine the rare titles, and one hot encode the results

In [44]:
# fill the nans in the age column (you could use median, mean
# or do something fancier like predict the value based on the title) and use age as a feature

In [7]:
# determine if differences in the embarked variabled lead to differences in survival rate
# if so, one hot encode the embarked variable

In [8]:
# look at a map of the titanic and see if you can use the cabin information
# i've never actually tried this so I don't know if it's possible or not, just a warning

Do the train test split

In [12]:
# train test split

Fit the model

In [13]:
# fit model

Evaluate your results

In [40]:
# accuracy score

In [41]:
# recall score

In [42]:
# precision score

In [43]:
# roc auc score