In [1]:
import pandas as pd
import numpy as np

In [18]:
pd.set_option('display.max_columns', 100)

## Exercise 1

Load the data from listings.csv into pandas. This csv contains data scraped from airbnb in nyc from this website http://insideairbnb.com/get-the-data.html.  Spend ~5 minutes using the methods we learned to get a feel for the data.

In [43]:
df = # your code here

SyntaxError: invalid syntax (<ipython-input-43-40fe772365ae>, line 1)

## Exercise 2

Return the following subsets of the dataframe and give the number of airbnbs that meet these conditions.

* Listings in Brooklyn
* Listings with a price less than 100
* Listings in Brooklyn with (a price less than 100 or a room type of private room)

Challenge:
* Listings with the word brownstone in the name (hint to come, might move this one later if needed)

## Exercise 3

Find the top 5 neighbourhood with the most listings.

Find the top 5 neighbourhoods with the highest mean price.

## Exercise 4

Make a new dataframe of only rows that have a last_review in 2019 or 2020.
Hint, you could convert the last listings date column to have date time objects. 
https://www.journaldev.com/23365/python-string-to-datetime-strptime

Or you could use string operations, string.split would be helpful.